# TitanicTest

In [3]:
# HIDDEN
import warnings
# Ignore numpy dtype warnings. These warnings are caused by an interaction
# between numpy and Cython and can be safely ignored.
# Reference: https://stackoverflow.com/a/40846742
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual
import nbinteract as nbi

sns.set()
sns.set_context('talk')
np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8
pd.set_option('precision', 2)
# This option stops scientific notation for pandas
# pd.set_option('display.float_format', '{:.2f}'.format)

In [4]:
# HIDDEN
def df_interact(df):
    '''
    Outputs sliders that show rows and columns of df
    '''
    def peek(row=0, col=0):
        return df.iloc[row:row + 5, col:col + 8]
    interact(peek, row=(0, len(df), 5), col=(0, len(df.columns) - 6))
    print('({} rows, {} columns) total'.format(df.shape[0], df.shape[1]))

In [5]:
# Import seaborn and apply its plotting styles
import seaborn as sns
sns.set()

# Load the dataset
ti = sns.load_dataset('titanic').reset_index(drop=True)

# This table is too large to fit onto a page so we'll output sliders to
# pan through different sections.
df_interact(ti)

interactive(children=(IntSlider(value=0, description='row', max=891, step=5), IntSlider(value=0, description='…

(891 rows, 15 columns) total

In [7]:
kek = sns.load_dataset('titanic').dropna().reset_index(drop=True)
kek

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           1       1  female  38.0  ...     C    Cherbourg    yes  False
1           1       1  female  35.0  ...     C  Southampton    yes  False
2           0       1    male  54.0  ...     E  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
179         1       1  female  56.0  ...     C    Cherbourg    yes  False
180         1       1  female  19.0  ...     B  Southampton    yes   True
181         1       1    male  26.0  ...     C    Cherbourg    yes   True

[182 rows x 15 columns]